<?xml version="1.0"?>

<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DumpFile></DumpFile>
  <DumpsFolder>C:\temp\dumps</DumpsFolder>
  <RecursiveSearch>true</RecursiveSearch>
  <Filters>
    <Filter>
      <ModuleName>FileExplorer</ModuleName>
      <MethodName></MethodName>
    </Filter>
    <Filter>
      <ModuleName>BatteryMeter</ModuleName>
      <MethodName></MethodName>
    </Filter>
    <Filter>
      <ModuleName>ILikeToThrow</ModuleName>
      <MethodName></MethodName>
    </Filter>
    <Filter>
      <ModuleName>ManagedWrapper</ModuleName>
      <MethodName></MethodName>
    </Filter>
    <Filter>
      <ModuleName>NativeLibrary</ModuleName>
      <MethodName></MethodName>
    </Filter>
    <Filter>
      <ModuleName>NumberCruncher</ModuleName>
      <MethodName></MethodName>
    </Filter>
  </Filters>
  <Ignores>
    <Filter>
      <ModuleName></ModuleName>
      <MethodName>__scrt_unhandled_exception_filter</MethodName>
    </Filter>
  </Ignores>
  <RedmineUrl>http://localhost/redmine</RedmineUrl>
  <Project>DevWeek2016</Project>
  <OpenTickets>true</OpenTickets>
  <DefaultOwner>
    <FirstName>Dina</FirstName>
    <LastName>Goldshtein</LastName>
  </DefaultOwner>
  <Owners>
    <OwnershipData>
      <Filter>
        <ModuleName>FileExplorer</ModuleName>
        <MethodName></MethodName>
      </Filter>
      <Owner>
        <FirstName>Mush</FirstName>
        <LastName>HaShor</LastName>
      </Owner>
    </OwnershipData>
    <OwnershipData>
      <Filter>
        <ModuleName>NumberCruncher</ModuleName>
        <MethodName></MethodName>
      </Filter>
      <Owner>
        <FirstName>Mush</FirstName>
        <LastName>HaShor</LastName>
      </Owner>
    </OwnershipData>
    <OwnershipData>
      <Filter>
        <ModuleName>BateryMeter</ModuleName>
        <MethodName></MethodName>
      </Filter>
      <Owner>
        <FirstName>Shaltiel</FirstName>
        <LastName>Kwak</LastName>
      </Owner>
    </OwnershipData>
    <OwnershipData>
      <Filter>
        <ModuleName>ILikeToThrow</ModuleName>
        <MethodName></MethodName>
      </Filter>
      <Owner>
        <FirstName>Tov Tov</FirstName>
        <LastName>HaGamad</LastName>
      </Owner>
    </OwnershipData>
    <OwnershipData>
      <Filter>
        <ModuleName>ManagedWrapper</ModuleName>
        <MethodName></MethodName>
      </Filter>
      <Owner>
        <FirstName>Dardas</FirstName>
        <LastName>Saba</LastName>
      </Owner>
    </OwnershipData>
    <OwnershipData>
      <Filter>
        <ModuleName>NativeLibrary</ModuleName>
        <MethodName></MethodName>
      </Filter>
      <Owner>
        <FirstName>Tov Tov</FirstName>
        <LastName>HaGamad</LastName>
      </Owner>
    </OwnershipData>
  </Owners>
</Configuration>